h1{
	font-family: 'PT Serif', serif;
    padding:20px;
}
.qa{
    font-family: 'PT Serif', serif;
	padding: 20px;
}
html{
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 dt{
    font-weight: bold;
 }
 dd{
 	text-align:justify;
 }
 button { 
    width:50%;
    position: center;
} 
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
hr{
    border-style: inset;
    border-width: 1px;
}