<!DOCTYPE html>
<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=PT+Serif&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel='shortcut icon' href="{{ url_for('static', filename='favicon.ico') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<title>Корзина Корзина</title>
		<script type="text/javascript">
			$(function() {
				$("#select_count").change(function(event) {
					console.log("Khuyag");
					$("#total_cost").text(
						Number($("#select_count option:selected").text()) * {{ price }} + " руб"
					);
				});
			});
		</script>		
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class = "col-md-12">
					<h1 class="text-center">Корзина</h1>
					<form action = "{{url_for('newOrder')}}" method = 'post'>
					  <div class="form-group">
					    <label for="name">Фамилия Имя Отчество</label>
					    <input type="text" class="form-control" id="name" name = 'name' placeholder="Иванова Мария Александровна">
					  </div>		
					  <div class="form-group">
					    <label for="email">Электронная почта</label>
					    <input type="email" class="form-control" id="email" name = 'email' placeholder="example@email.ru">
					  </div>
					  <div class="form-group">
					    <label for="address">Адрес</label>
					    <input type="text" class="form-control" id="address" name = 'address' placeholder="Россия, Новгородская область, поселок Калина, ул. Дубки, дом 3, кв. 236, индекс 345678">
					  </div>
					  <div class="form-group">
					  	  <label for="count">Количество тестов</label>
						  <select class="form-control" id='select_count' name='count'>
		  					<option>10</option>
		  					<option>15</option>
		  					<option>20</option>
		  					<option>25</option>
		  					<option>30</option>
		  					<option>35</option>
		  					<option>40</option>
		  					<option>50</option>
		  					<option>100</option>
						  </select>
					  </div>
					  <div class="form-group">
					    <label>Сумма к оплате</label>
					    <p id="total_cost"></p>
					  </div>
					</br>
					  <div class="form-group">
						  <form action="/charge" method="post">
						    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
						            data-key="{{ key }}"
						            data-description="A Flask Charge"
						            data-amount="500"
						            data-locale="auto"></script>
						  </form>
					  </div>
					</form>
			    </div>
			</div>
		</div>
	</body>

</html>